body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}
.header {
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  align-items: center;
  display: flex;
  background: inherit;
  z-index: 1;
}
.logo {
  display: inline-flex;
  height: 50px;
  padding-left: 10px;
}
.logo img {
  width: 167px;
}

nav {
text-align: right;
flex-grow: 1;
padding-right: 10px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

span a {
  color: seashell;
}

.mission {
  background-image: url("../images/img-mission-background.jpg");
  position: relative;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
  height: 700px;
  width: 1200px;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

.mcontainer {
  background-color: black;
  width: 1200px;
}

.teatext{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding-top: 60px;
  width: 1000px;
}

.teacontainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.types {
  display: inline-flex;
  flex-direction: column;
  padding: 15px;
}

.types img {
  width: 300px;
  height: 200px;
}

.types span {
  padding-top: 15px;
  font-weight: bold;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60px;
  height: 500px;
  width: 1200px;
}

.locationcontainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.area {
  background-color: black;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

.area h3{
  opacity: 1;
}

.area p {
  padding: 10px;
  opacity: 1;
}
